In [108]:
import pandas as pd
import numpy as np

In [109]:
df = pd.read_csv('../data/demographics.csv').drop(columns = ['Unnamed: 0'])

In [110]:
cols = ['Diagnosis', 'Gender', 'Race']

In [111]:
df['Diagnosis'] = df['Diagnosis'].replace('Major Depressive Disorder', 'MDD')
df['Gender'] = df['Gender'].replace('Male', 'M')
df['Gender'] = df['Gender'].replace('Female', 'F')
df['Race'] = df['Race'].replace('White & Asian', 'Asian/White')
df['LAMP ID'] = df['LAMP ID'].replace('Unknown', None)
df = df[cols].dropna().reset_index().drop(columns = ['index'])

In [115]:
df

      Diagnosis Gender   Race
0    Bipolar II      F  White
1           MDD      F  White
2           MDD      F  White
3           MDD      F  White
4           MDD      F  White
..          ...    ...    ...
111     Control      F  White
112     Control      F  White
113     Control      F  White
114     Control      M  White
115     Control      F  White

[116 rows x 3 columns]

In [114]:
race_df

             index  Race
0            White    81
1            Asian    15
2            Black    11
3            Other     3
4         Hispanic     2
5      Asian/White     2
6  American Indian     1
7      White/Black     1

In [122]:
gender_df = df['Gender'].value_counts().reset_index()
gender_df['pct'] = (gender_df['Gender'] / gender_df['Gender'].sum()).apply(lambda x: np.round(x, 2))
diag_df = df['Diagnosis'].value_counts().reset_index()
diag_df['pct'] = (diag_df['Diagnosis'] / diag_df['Diagnosis'].sum()).apply(lambda x: np.round(x, 2))
race_df = df['Race'].value_counts().reset_index()
race_df['pct'] = (race_df['Race'] / race_df['Race'].sum()).apply(lambda x: np.round(x, 2))

In [123]:
gender_df

  index  Gender   pct
0     F      84  0.72
1     M      32  0.28

In [124]:
diag_df

        index  Diagnosis   pct
0         MDD         53  0.46
1     Control         35  0.30
2  Bipolar II         15  0.13
3   Bipolar I         13  0.11

In [125]:
race_df

             index  Race   pct
0            White    81  0.70
1            Asian    15  0.13
2            Black    11  0.09
3            Other     3  0.03
4         Hispanic     2  0.02
5      Asian/White     2  0.02
6  American Indian     1  0.01
7      White/Black     1  0.01